19130/-3/sensorParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://schemas.isotc211.org/19130/-3/smi/1.0"
    xmlns:smi="https://schemas.isotc211.org/19130/-3/smi/1.0"
    xmlns:sml="http://www.opengis.net/sensorml/2.0"
    xmlns:mrs="http://standards.iso.org/iso/19115/-3/mrs/1.0"
    xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/2.0"
    xmlns:gmi="http://standards.iso.org/iso/19115/-2/gmi/1.1" 
    xmlns:swe="http://www.opengis.net/swe/2.0"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0"
    >
    <import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/gco/1.0/gco.xsd"/>   
    <import namespace="http://www.opengis.net/sensorml/2.0"
        schemaLocation="http://schemas.opengis.net/sensorML/2.0/sensorML.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://standards.iso.org/iso/19115/-2/gmi/1.1"
        schemaLocation="https://github.com/ejbleys/schemas/tree/master/19115/-2/gmi/1.1/gmi.xsd"/>
    <import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <import namespace="http://standards.iso.org/iso/19115/-3/cit/2.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/cit/2.0/cit.xsd"/>
    <import namespace="http://standards.iso.org/iso/19115/-3/mrs/1.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/mrs/1.0/mrs.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0"
        schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>

    <include schemaLocation="./codeList.xsd"/>
    <include schemaLocation="./spatialElements.xsd"/>
    <include schemaLocation="./groundControlPoints.xsd"/>

    <!-- ======================== 19130=1 ======================= -->
    <element name="SD_SensorParameters" type="smi:SD_SensorParametersType">
        <annotation>
            <documentation>information about sensor properties</documentation>
        </annotation>
    </element>
    <complexType name="SD_SensorParametersType">
        <complexContent>
            <extension base="sml:AggregateProcessType">
                <sequence>
                    <element name="offsetAndOrientation" maxOccurs="unbounded"
                        type="smi:SD_PositionAndOrientationType">
                        <annotation>
                            <documentation>orientation and offset relative to the object on which
                                the sensor is mounted</documentation>
                        </annotation>
                    </element>
                    <element ref="sml:Mode" minOccurs="0">
                        <annotation>
                            <documentation>description of the opertional mode of
                                sensor</documentation>
                        </annotation>
                    </element>
                    <!-- The detector is a component of ComponentList -->
                    <element name="detector" type="smi:SD_DetectorArrayType" minOccurs="0">
                        <annotation>
                            <documentation>properties of sensor detector array</documentation>
                        </annotation>
                    </element>
                    <element name="gsdProperties" minOccurs="0" type="smi:SD_GSDType">
                        <annotation>
                            <documentation>properties of ground sample distance</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="smi:SD_SensorType">
                        <annotation>
                            <documentation>provides identification information for
                                sensor</documentation>
                        </annotation>
                    </element>
                    <!-- The systemAndOperation is a component of ComponentList -->
                    <!-- <element name="systemAndOperation"
                        type="smi:SD_SensorSystemAndOperationType">
                        <annotation>
                            <documentation>information describing the sensor specific properties and
                                operations</documentation>
                        </annotation>
                    </element>-->
                    <!-- ======= 19130-2 =========== -->
                    <element name="InSARAntennaPosition" minOccurs="0"
                        type="smi:SE_InSARDualAntennaPositionType">
                        <annotation>
                            <documentation>information about the position of InSAR dual
                                antennas</documentation>
                        </annotation>
                    </element>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- =================== Sensor System and Operation ===================== -->
    <!-- ============================ detector ============================ -->
    <element name="SD_DetectorArray" type="smi:SD_DetectorArrayType">
        <annotation>
            <documentation>dimensions and shapes of detector array</documentation>
        </annotation>
    </element>
    <complexType name="SD_DetectorArrayType">
        <complexContent>
            <extension base="sml:PhysicalComponentType">
                <sequence>
                    <!-- numberOfDimensions is a characteristic from sml.-->
                    <!-- arrayOrigin is configuration from sml.-->
                    <element name="arrayDimensions" maxOccurs="2"
                        type="smi:SD_ArrayDimensionType">
                        <annotation>
                            <documentation>names and sizes of the dimensions of the detector
                                array</documentation>
                        </annotation>
                    </element>
                    <!-- offsetVectors is configuration-->
                    <!-- detectorSize is characteristic-->
                    <element name="detectorShape" type="smi:SD_ShapeCodeType">
                        <annotation>
                            <documentation>shape of a detector</documentation>
                        </annotation>
                    </element>
                    <element name="distortion" type="smi:SD_DistortionType" minOccurs="0">
                        <annotation>
                            <documentation>distortion of detector array</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ===================== identification ===================  -->
    <element name="SD_Sensor" type="smi:SD_SensorType">
        <annotation>
            <documentation>characteristics of the sensor</documentation>
        </annotation>
    </element>
    <complexType name="SD_SensorType">
        <complexContent>
            <extension base="sml:PhysicalComponentType">
                <sequence>
                    <element name="calibration" minOccurs="0" type="smi:SD_CalibrationType">
                        <annotation>
                            <documentation>information about determination of relation between
                                instrument readings and physical parameters</documentation>
                        </annotation>
                    </element>
                    <element ref="sml:Mode" minOccurs="0">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element name="operationalBand" minOccurs="0" type="gmi:MI_Band_Type">
                        <annotation>
                            <documentation>wavelengths of the electromagnetic spectrum being
                                observed by the sensor</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ====================== gsdProperties =================== -->
    <element name="SD_GSD" type="smi:SD_GSDType">
        <annotation>
            <documentation>properties of ground space distance between neighbouring pixels of the
                image</documentation>
        </annotation>
    </element>
    <complexType name="SD_GSDType">
        <complexContent>
            <extension base="sml:PhysicalComponentType">
                <sequence>
                    <!-- The type of "columnSpacing" should be Distance from 19103 -->
                    <element name="columnSpacing" type="double">
                        <annotation>
                            <documentation>ground distance between neighbouring columns in
                                image</documentation>
                        </annotation>
                    </element>
                    <!-- The type of "columnSpacing" should be Distance from 19103 -->
                    <element name="rowSpacing" type="double">
                        <annotation>
                            <documentation>ground distance between neighbouring rows in
                                image</documentation>
                        </annotation>
                    </element>
                    <!-- Definition of CRS is slightly different from localReferenceFrame -->
                    <element name="gsdCRS" type="mrs:MD_ReferenceSystem_Type">
                        <annotation>
                            <documentation>coordinate system used in the reference surface onto
                                which the image is projected</documentation>
                        </annotation>
                    </element>
                    <element name="rangeIPR" minOccurs="0" type="double">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element name="azimuthIPR" minOccurs="0" type="smi:SD_AzimuthMeasureType">
                        <annotation>
                            <documentation>impulse response width in the azimuth direction relative
                                to the reference plane</documentation>
                        </annotation>
                    </element>
                    <element name="referenceSurface" type="smi:SD_SurfaceCodeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- =================== sensorSystemAndOperation ================== -->
    <element name="SD_SensorSystemAndOperation" type="smi:SD_SensorSystemAndOperationType">
        <annotation>
            <documentation/>
        </annotation>
    </element>
    <complexType name="SD_SensorSystemAndOperationType">
        <complexContent>
            <extension base="sml:PhysicalSystemType">
                <sequence>
                    <element name="collectionStartTime" type="dateTime">
                        <annotation>
                            <documentation>rune data collection starts</documentation>
                        </annotation>
                    </element>
                    <element name="collectionEndTime" type="dateTime" minOccurs="0">
                        <annotation>
                            <documentation>time data collection ends</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SD_Microwave" type="smi:SD_MicrowaveType">
        <annotation>
            <documentation>specific properties of microwave sensor and its opertaion</documentation>
        </annotation>
    </element>
    <complexType name="SD_MicrowaveType">
        <complexContent>
            <extension base="smi:SD_SensorSystemAndOperationType"/>
        </complexContent>
    </complexType>

    <element name="SD_SAROperation" type="smi:SD_SAROperationType">
        <annotation>
            <documentation>operation properties of SAR system</documentation>
        </annotation>
    </element>
    <complexType name="SD_SAROperationType">
        <complexContent>
            <extension base="smi:SD_MicrowaveType">
                <sequence>
                    <element name="orientation" type="smi:SD_SAROrientationCodeType">
                        <annotation>
                            <documentation>SAR antenna orientation</documentation>
                        </annotation>
                    </element>
                    <!-- grpPosition is the configuration property from AbsrtractProcess -->


                </sequence>
            </extension>
        </complexContent>
    </complexType>


    <element name="SD_Optics" type="smi:SD_OpticsType">
        <annotation>
            <documentation>specific properties of optical sensor and its operation</documentation>
        </annotation>
    </element>
    <complexType name="SD_OpticsType">
        <complexContent>
            <extension base="smi:SD_SensorSystemAndOperationType">
                <choice>
                    <element name="opticsOperation" type="smi:SD_OpticsOperationType">
                        <annotation>
                            <documentation>information describing the operation of sensor
                                optics</documentation>
                        </annotation>
                    </element>
                    <element name="opticalSystem" type="smi:SD_OpticalSystemType">
                        <annotation>
                            <documentation>properties of the sensor optical system</documentation>
                        </annotation>
                    </element>
                    <element name="opticalDistortion" type="smi:SD_DistortionType">
                        <annotation>
                            <documentation>information describing the distortion of the sensor
                                optical system</documentation>
                        </annotation>
                    </element>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <element name="SD_OpticsOperation" type="smi:SD_OpticsOperationType">
        <annotation>
            <documentation>configuration and operation of sensor optics</documentation>
        </annotation>
    </element>
    <complexType name="SD_OpticsOperationType">
        <complexContent>
            <extension base="sml:SimpleProcessType"/>
        </complexContent>
        <!-- instFiedlOfView and swathFieldOfView are capabilities -->
    </complexType>

    <element name="SD_WhiskbroomOperation" type="smi:SD_WhiskbroomOperationType">
        <annotation>
            <documentation>configuration and operation of whiskbroom optics</documentation>
        </annotation>
    </element>
    <complexType name="SD_WhiskbroomOperationType">
        <complexContent>
            <extension base="smi:SD_OpticsOperationType">
                <!-- scanDuration, pixelScanDuration are characteristics? parameters? configurations? -->
                <!-- scanAngleFuction : method --> </extension>
        </complexContent>
    </complexType>

    <element name="SD_PushbroomOperation" type="smi:SD_PushbroomOperationType">
        <annotation>
            <documentation>configuration and operation of Pushbroom optics</documentation>
        </annotation>
    </element>
    <complexType name="SD_PushbroomOperationType">
        <complexContent>
            <extension base="smi:SD_OpticsOperationType">
                <!-- groundSamplingTime, forwardLookingAnlge, sideLookingAngle are all parameters? inputs? capabilities? -->
            </extension>
        </complexContent>
    </complexType>

    <element name="SD_OpticalSystem" type="smi:SD_OpticalSystemType">
        <annotation>
            <documentation>information about the geometry of the sensor's optical
                system</documentation>
        </annotation>
    </element>
    <complexType name="SD_OpticalSystemType">
        <complexContent>
            <extension base="sml:PhysicalSystemType">
                <!-- calibratedFocalLength, qualityOfFocalLength, orubcPointAutocoll, covPrincPtAutocoll:configuration, capbaility,-->
            </extension>
        </complexContent>
    </complexType>

    <element name="SD_Distortion" type="smi:SD_DistortionType">
        <annotation>
            <documentation>information on distortions relevant to remotely sensed
                imagery</documentation>
        </annotation>
    </element>
    <complexType name="SD_DistortionType">
        <complexContent>
            <extension base="sml:SimpleProcessType">
                <!-- princPointOfSymmetry and qualityOfPrincPointOfsymmetry: configuration and parameter -->
            </extension>
        </complexContent>
    </complexType>

    <element name="SD_DistortionPolynomial" type="smi:SD_DistortionPolynomialType">
        <annotation>
            <documentation>distortion described using a polynomial</documentation>
        </annotation>
    </element>
    <complexType name="SD_DistortionPolynomialType">
        <complexContent>
            <extension base="smi:SD_DistortionType">
                <!-- polynomialDecentering, polynomialRadial: method -->
                <!-- qualityOfPolynomialRadial, qualityOfPolynomialDecentering: parameters -->
            </extension>
        </complexContent>
    </complexType>

    <element name="SD_DistortionTable" type="smi:SD_DistortionTableType">
        <annotation>
            <documentation>distortion described using table</documentation>
        </annotation>
    </element>
    <complexType name="SD_DistortionTableType">
        <complexContent>
            <extension base="smi:SD_DistortionType"> </extension>
        </complexContent>
    </complexType>

    <!-- =================== Standalone elements ========================== -->
    <element name="SD_Calibration" type="smi:SD_CalibrationType">
        <annotation>
            <documentation>circumstances of determination of relation between instrument readings
                and physical parameters</documentation>
        </annotation>
    </element>
    <complexType name="SD_CalibrationType">
        <complexContent>
            <extension base="sml:DescribedObjectType">
                <sequence>
                    <element name="calibrationAgency" type="cit:CI_Responsibility_PropertyType"/>
                    <!-- Date property is implemented in XML. -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SD_AzimuthMeasure" type="smi:SD_AzimuthMeasureType">
        <annotation>
            <documentation>information about the measurement of azimuth properties</documentation>
        </annotation>
    </element>
    <complexType name="SD_AzimuthMeasureType">
        <sequence>
            <!-- The type of "distance" should be Distance from 19103 -->
            <element name="distance" type="double">
                <annotation>
                    <documentation>smallest distance between two point reflectors that can be
                        distinguished as two objects</documentation>
                </annotation>
            </element>
            <!-- The type of "distance" should be Angle from 19103 -->
            <element name="azimuth" type="gml:AngleType">
                <annotation>
                    <documentation>smallest difference in azimuth angle between two point reflectors
                        that can be distinguished as two objects</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="SD_ArrayDimension" type="smi:SD_ArrayDimensionType">
        <annotation>
            <documentation>information about one dimension of a detector array</documentation>
        </annotation>
    </element>
    <!-- Is it necessary to extend from DataRecord? -->
    <complexType name="SD_ArrayDimensionType">
        <!-- One property is name (string), the other is size (integer). -->
        <sequence>
            <element ref="swe:DataRecord"/>
        </sequence>
    </complexType>

    <element name="SD_ScanAngleFunction" type="smi:SD_ScanAngleFunctionType">
        <annotation>
            <documentation>alternative ways to provide the scan rate</documentation>
        </annotation>
    </element>
    <complexType name="SD_ScanAngleFunctionType">
        <all>
            <element name="angleEquation" type="string">
                <annotation>
                    <documentation>formula to calculate scan angle given time</documentation>
                </annotation>
            </element>
            <!-- Here shoudl reference AngularVelocity from 19103 -->
            <element name="rate" type="double">
                <annotation>
                    <documentation>angular velocity of the scna</documentation>
                </annotation>
            </element>
            <element name="angleTable" type="swe:DataArrayPropertyByValueType"/>
        </all>
    </complexType>

    <element name="SD_ScanAngleTime" type="smi:SD_ScanAngleTimeType">
        <annotation>
            <documentation>table of times and corresponding scan angles</documentation>
        </annotation>
    </element>
    <complexType name="SD_ScanAngleTimeType">
        <complexContent>
            <!-- The data array have two field: time and angle -->
            <extension base="swe:DataArrayPropertyByValueType"/>
        </complexContent>
    </complexType>

    <element name="SE_LIDARPulse" type="smi:SE_LIDARPulse">
        <annotation>
            <documentation>spatial and temporal information about laser pulse</documentation>
        </annotation>
    </element>
    <complexType name="SE_LIDARPulse">
        <sequence>
            <element name="pulsePointing" type="swe:VectorType">
                <annotation>
                    <documentation>direction of laser pulse</documentation>
                </annotation>
            </element>
            <element name="pulseEmissionTime" type="dateTime">
                <annotation>
                    <documentation>date and time original laser pulse is sent</documentation>
                </annotation>
            </element>
            <element name="pulseReturntime" type="dateTime" maxOccurs="unbounded">
                <annotation>
                    <documentation>date and time return laser pulse is received</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <!-- ======================== 19130-2 ======================= -->
    <!-- ========================   SAR   =======================-->
    <element name="SE_SAROperation" type="smi:SE_SAROperationType">
        <annotation>
            <documentation>collection properties of SAR system</documentation>
        </annotation>
    </element>
    <complexType name="SE_SAROperationType">
        <complexContent>
            <extension base="smi:SD_SAROperationType">
                <sequence>
                    <element name="collectionMode" type="smi:SE_SARCollectionModeType">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ========================   InSAR   =======================-->
    <element name="SE_InSAROperation" type="smi:SE_InSAROperationType">
        <annotation>
            <documentation/>
        </annotation>
    </element>
    <complexType name="SE_InSAROperationType">
        <complexContent>
            <extension base="smi:SD_SAROperationType">
                <sequence>
                    <element name="collectionMode" type="smi:SE_InSARCollectionModeType">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element name="receiveTime" type="smi:SE_InSARTimeType" minOccurs="1"
                        maxOccurs="1">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element name="transmitterReceiver" type="smi:SE_InSARTransmitReceiveType"
                        minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element name="transmitTime" type="smi:SE_InSARTimeType" minOccurs="1"
                        maxOccurs="1">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SE_InSARDualAntennaPosition" type="smi:SE_InSARDualAntennaPositionType">
        <annotation>
            <documentation>description of the position of InSAR dual antennas</documentation>
        </annotation>
    </element>
    <complexType name="SE_InSARDualAntennaPositionType">
        <sequence>
            <element name="firstAntennaPosition" type="smi:SD_PositionAndOrientationType"
                minOccurs="0">
                <annotation>
                    <documentation>position of the first antenna</documentation>
                </annotation>
            </element>
            <element name="secondAntennaPosition" type="smi:SD_PositionAndOrientationType"
                minOccurs="0">
                <annotation>
                    <documentation>position of the second antenna</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <!-- ========================   LIDAR   =======================-->
    <element name="SE_LIDAROperation" type="smi:SE_LIDAROperationType">
        <annotation>
            <documentation/>
        </annotation>
    </element>
    <complexType name="SE_LIDAROperationType">
        <complexContent>
            <extension base="smi:SD_OpticsOperationType">
                <sequence>
                    <element name="numberOfPulse" type="integer">
                        <annotation>
                            <documentation>pulse repetition rate expressed as the number of pulses
                                per second. The value >= 0</documentation>
                        </annotation>
                    </element>
                    <element name="pulseTimeDirection" type="smi:SE_LIDARPulse"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>where and when laser pulse is sent</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>


    <!-- ========================   Sonar   =======================-->
    <element name="SE_SonarOperation" type="smi:SE_SonarOperationType">
        <annotation>
            <documentation>properties and working method of SONAR system</documentation>
        </annotation>
    </element>
    <complexType name="SE_SonarOperationType">
        <complexContent>
            <extension base="smi:SD_SensorSystemAndOperationType">
                <sequence>
                    <element name="deployment" type="smi:SE_SonarDeploymentType">
                        <annotation>
                            <documentation>location of SONAR relative to ship</documentation>
                        </annotation>
                    </element>
                    <element name="type" type="smi:SE_SonarType">
                        <annotation>
                            <documentation>whether SONAR system emits sound waves</documentation>
                        </annotation>
                    </element>
                    <choice>
                        <element name="mode" type="smi:SE_SonarOperationModeType">
                            <annotation>
                                <documentation>component that provides the operation mode of the
                                    sonar sensor</documentation>
                            </annotation>
                        </element>
                        <element name="transducer" type="smi:SE_TransducerType"
                            maxOccurs="unbounded">
                            <annotation>
                                <documentation>component which defines the parameters of the
                                    transducer</documentation>
                            </annotation>
                        </element>
                        <element name="calibration" type="smi:SE_SonarCalibrationType"
                            maxOccurs="unbounded">
                            <annotation>
                                <documentation>component that provides the calibration parameters
                                    for all auxillary systems and environmental
                                    factors</documentation>
                            </annotation>
                        </element>
                        <element name="tidalAdjustment" type="smi:SE_TidalAdjustmentType"
                            minOccurs="0">
                            <annotation>
                                <documentation>component that provides information about the values
                                    in a tidal model</documentation>
                            </annotation>
                        </element>
                        <element name="draft" type="smi:SE_DraftOffsetType" minOccurs="0">
                            <annotation>
                                <documentation>component that provides the draft
                                    value</documentation>
                            </annotation>
                        </element>
                    </choice>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SE_SonarOperationMode" type="smi:SE_SonarOperationModeType"/>
    <complexType name="SE_SonarOperationModeType">
        <sequence>
            <element name="beamAngle" type="gml:AngleType" maxOccurs="unbounded">
                <annotation>
                    <documentation>angle between beam and vertical as measured from vertical (value
                        >= 0)</documentation>
                </annotation>
            </element>
            <!-- The type should be Distance from 19103. -->
            <element name="beamSpacing" type="double" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>(ordered)</documentation>
                </annotation>
            </element>
            <element name="mode" type="smi:SE_SonarMode">
                <annotation>
                    <documentation>type of SONAR system</documentation>
                </annotation>
            </element>
            <element name="numberOfBeams" type="integer">
                <annotation>
                    <documentation>number of sounder-transducer combinations (value >=
                        0)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="SE_Transducer" type="smi:SE_TransducerType">
        <annotation>
            <documentation>positioning of transducer</documentation>
        </annotation>
    </element>
    <complexType name="SE_TransducerType">
        <sequence>
            <element name="operationChannels" type="gml:LengthType" minOccurs="0"
                maxOccurs="unbounded">
                <annotation>
                    <documentation>wavelength of the SONAR</documentation>
                </annotation>
            </element>
            <!-- Type should be imported from 19103-->
            <element name="operationFrequencies" type="double" maxOccurs="unbounded">
                <annotation>
                    <documentation>frequencies at which sound waves are sent out by
                        transmitter</documentation>
                </annotation>
            </element>
            <choice>
                <element name="receiverInformation" type="smi:SE_ReceiverType"
                    maxOccurs="unbounded">
                    <annotation>
                        <documentation>position and attitude of receiver</documentation>
                    </annotation>
                </element>
                <element name="transmitterInformation" type="smi:SE_TransmitterType"
                    minOccurs="0" maxOccurs="unbounded">
                    <annotation>
                        <documentation>position and attitude of transmitter</documentation>
                    </annotation>
                </element>
            </choice>
        </sequence>
    </complexType>

    <element name="SE_Receiver" type="smi:SE_ReceiverType">
        <annotation>
            <documentation>configuration of receiver</documentation>
        </annotation>
    </element>
    <complexType name="SE_ReceiverType">
        <sequence>
            <element name="orientation" type="smi:SD_AttitudeType">
                <annotation>
                    <documentation>mounting direction of receiver</documentation>
                </annotation>
            </element>
            <element name="position" type="smi:SD_PositionType">
                <annotation>
                    <documentation>location of receiver</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="SE_Transmitter" type="smi:SE_TransmitterType">
        <annotation>
            <documentation>configuration of transmitter</documentation>
        </annotation>
    </element>
    <complexType name="SE_TransmitterType">
        <sequence>
            <element name="orientation" type="smi:SD_AttitudeType">
                <annotation>
                    <documentation>mounting direction of transmitter</documentation>
                </annotation>
            </element>
            <element name="position" type="smi:SD_PositionType">
                <annotation>
                    <documentation>location of transmitter</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="SE_SonarCalibration" type="smi:SE_SonarCalibrationType">
        <annotation>
            <documentation>information required to determine configuration of SONAR
                system</documentation>
        </annotation>
    </element>
    <complexType name="SE_SonarCalibrationType">
        <!-- This class doesn't have any properties.  --> </complexType>

    <element name="SE_BarCheck" type="smi:SE_BarCheckType">
        <annotation>
            <documentation>information to check for sound velocity adjustments</documentation>
        </annotation>
    </element>
    <complexType name="SE_BarCheckType">
        <complexContent>
            <extension base="smi:SE_SonarCalibrationType">
                <sequence>
                    <!-- Type shoule be Distance type. -->
                    <element name="depthOffset" type="double" maxOccurs="unbounded">
                        <annotation>
                            <documentation>depths at which sound speed is measured</documentation>
                        </annotation>
                    </element>
                    <element name="numberOfDepth" type="integer">
                        <annotation>
                            <documentation>depth read from the sonar display to the calibration
                                bar</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SE_PatchTest" type="smi:SE_PatchTestType">
        <annotation>
            <documentation>information needed to determine quantified accuracy, precision, and
                alignment of the SONAR system.</documentation>
        </annotation>
    </element>
    <complexType name="SE_PatchTestType">
        <complexContent>
            <extension base="smi:SE_SonarCalibrationType">
                <sequence>
                    <element name="azimuthalOffset" type="gml:AngleType">
                        <annotation>
                            <documentation>angle between center of sensor and ship in the azimuthal
                                direction</documentation>
                        </annotation>
                    </element>
                    <element name="pitchOffset" type="gml:AngleType">
                        <annotation>
                            <documentation>angle between center of sensor and ship in the pitch
                                direction</documentation>
                        </annotation>
                    </element>
                    <!-- Type should be TM_IntervalLength from 19008. -->
                    <element name="positioningTimeDelay" type="double">
                        <annotation>
                            <documentation>time interval between initial receipt of time positioning
                                data and the time the computed position reaches the logging
                                module</documentation>
                        </annotation>
                    </element>
                    <element name="rollOffset" type="gml:AngleType">
                        <annotation>
                            <documentation>angle between center of sensor and ship in the roll
                                direction</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SE_SoundVelocityProfile" type="smi:SE_SoundVelocityProfileType">
        <annotation>
            <documentation>record of the sound velocities vertically through the water
                column</documentation>
        </annotation>
    </element>
    <complexType name="SE_SoundVelocityProfileType">
        <complexContent>
            <extension base="smi:SE_SonarCalibrationType">
                <sequence>
                    <!-- The type should be Frequency from 19103. -->
                    <element name="frequency" type="double">
                        <annotation>
                            <documentation>frequency at which osund wave is emitted and
                                received</documentation>
                        </annotation>
                    </element>
                    <element name="numberOfMeasure" type="integer">
                        <annotation>
                            <documentation>number of sound velocity profiles observed (value >=
                                0)</documentation>
                        </annotation>
                    </element>
                    <!-- The type should be Velocity from 19103 -->
                    <element name="soundSpeed" type="double">
                        <annotation>
                            <documentation>speed of sound in medium where SONAR is operating (value
                                >= 0)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SE_NavCheck" type="smi:SE_NavCheckType">
        <annotation>
            <documentation/>
        </annotation>
    </element>
    <complexType name="SE_NavCheckType">
        <complexContent>
            <extension base="smi:SE_SonarCalibrationType">
                <sequence>
                    <element name="positionValidationOnIndependentNavSys" type="boolean"
                        minOccurs="0"/>
                    <element name="positionValidationOnKnownMark" type="boolean" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SE_DraftOffset" type="smi:SE_DraftOffsetType">
        <annotation>
            <documentation>draft of the transudcer</documentation>
        </annotation>
    </element>
    <complexType name="SE_DraftOffsetType">
        <complexContent>
            <extension base="swe:AbstractDataComponentType">
                <sequence>
                    <!-- The type should be Distance from 19103 -->
                    <element name="draft" type="double" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>depth of transducer head below waterline of
                                vessel</documentation>
                        </annotation>
                    </element>
                    <element name="draftMeasureTime" type="time" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>time at which depth of transducer is
                                measured</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SE_TidalAdjustment" type="smi:SE_TidalAdjustmentType">
        <annotation>
            <documentation>the vertical adjustment for tidal observations referred to a local
                datum</documentation>
        </annotation>
    </element>
    <complexType name="SE_TidalAdjustmentType">
        <sequence>
            <element name="time" type="time" maxOccurs="unbounded">
                <annotation>
                    <documentation>reference time for the tidal adjustment (ordered)</documentation>
                </annotation>
            </element>
            <element name="type" type="smi:SE_TideAdjustType">
                <annotation>
                    <documentation>prediction or observed tide</documentation>
                </annotation>
            </element>
            <!-- The type should be Distance from 19130 -->
            <element name="value" type="double" maxOccurs="unbounded">
                <annotation>
                    <documentation>tide adjustment value (ordered)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

</schema>
