19123/-2/cit/1.1/coverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/cis/1.1"
    xmlns:cis="http://www.opengis.net/cis/1.1"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:swe="http://www.opengis.net/swe/2.0"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" version="1.1.0">
    <annotation>
        <appinfo>coverage.xsd</appinfo>
        <documentation>Component of OGC Coverage Implementation Schema 1.1.
        Last updated: 2015-aug-13
        Copyright (c) 2015 Open Geospatial Consortium, Inc. All Rights Reserved.
        To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
        </documentation>
    </annotation>

    <!-- ============================= -->
    <!-- Includes and imports          -->
    <!-- ============================= -->
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
    <include schemaLocation="grids.xsd"/>

    <!-- ============================= -->
    <!-- Body of this schema           -->
    <!-- ============================= -->
    <complexType name="AbstractCoverageType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element ref="gml:coverageFunction" minOccurs="0"/>
                    <element ref="cis:envelope"/>
                    <element ref="cis:rangeType"/>
                    <choice>
                        <sequence>
                            <element ref="cis:domainSet"/>
                            <element ref="cis:rangeSet"/>
                        </sequence>
                        <element ref="cis:partition" minOccurs="0" maxOccurs="unbounded"/>
                    </choice>
                    <element ref="cis:metadata" minOccurs="0" maxOccurs="unbounded"/>
                    <element ref="cis:interpolationRestriction" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractCoverage" type="cis:AbstractCoverageType" abstract="true" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>AbstractCoverage is the abstract superclass the for any kind of coverage; based on the definitions of GMLCOV 1.0 (which are included here), CIS 1.1 adds GeneralGridCoverage and further coverage structuring alternatives. To achieve this schema-wise, the gml:AbstractCoverage and gmlcov:AbstractCoverage definitions are expanded and extended.</documentation>
        </annotation>
    </element>
    <!-- ============================================================= -->
    <element name="envelope" type="cis:EnvelopeByAxisType">
        <annotation>
            <documentation>The envelope around a coverage is defined by the lower and upper bound of each axis, respectively; an asterisk "*" in lower/upper bound denotes a null value.</documentation>
        </annotation>
    </element>
    <complexType name="EnvelopeByAxisType">
        <sequence>
            <element name="axisExtent" maxOccurs="unbounded">
                <complexType>
                    <attribute name="axisLabel" type="NCName"/>
                    <attribute name="uomLabel" type="NCName"/>
                    <attribute name="lowerBound" type="string"/>
                    <attribute name="upperBound" type="string"/>
                </complexType>
            </element>
        </sequence>
        <attribute name="srsName" type="anyURI"/>
        <attribute name="srsDimension" type="positiveInteger"/>
        <attribute name="geomDimension" type="positiveInteger"/>
    </complexType>
    <!-- ============================================================= -->
    <element name="rangeType" type="swe:DataRecordPropertyType">
        <annotation>
            <documentation>The rangeType describes the structure of a coverage's range values.</documentation>
        </annotation>
    </element>
    <!-- ============================================================= -->
    <element name="domainSet" type="cis:DomainSetType">
        <annotation>
            <documentation>The domainSet describes the "direct positions" of the coverage, i.e., the locations for which values are available. This is determined by the type of coverage used, therefore a separate choice is established for each coverage type supported. These consist of the CIS Grid and Discrete Coverage types.
Use of the domainSet variants in this standard is as follows (see also grids.xsd):
- gml:Grid is the domainSet of a cis:GridCoverage; - gml:RectifiedGrid (in the substitution group of gml:Grid) is the domainSet of a cis:RectifiedGridCoverage;
- cis:Grid is the domainSet of a cis:GeneralCoverage;
- cis:SimpleMultiPoint is the domainSet of a cis:MultiPointCoverage;
- gml:MultiCurve is the domainSet of a cis:MultiCurveCoverage;
- gml:MultiSurface is the domainSet of a cis:MultiSurfaceCoverage;
- gml:MultiSolid is the domainSet of a cis:MultiSolidCoverage.</documentation>
        </annotation>
    </element>
    <complexType name="DomainSetType">
        <choice>
            <element ref="gml:Grid"/>
            <element ref="cis:GeneralGrid"/>
            <element ref="cis:SimpleMultiPoint"/>
            <element ref="gml:MultiCurve"/>
            <element ref="gml:MultiSurface"/>
            <element ref="gml:MultiSolid"/>
        </choice>
    </complexType>
    <!-- ============================================================= -->
    <element name="rangeSet" type="cis:RangeSetType">
        <annotation>
            <documentation>The rangeSet lists a value for each of the coverage's direct positions. Choices available (direct enumeration, reference to a file) are adopted from GML 3.2.1, of which the complex, unused choices have been stripped.</documentation>
        </annotation>
    </element>
    <complexType name="RangeSetType">
        <choice>
            <element ref="gml:DataBlock"/>
            <element ref="gml:File"/>
        </choice>
    </complexType>
    <!-- ============================================================= -->
    <element name="partition" type="cis:PartitionType">
        <annotation>
            <documentation>A partition describes how a coverage ("sub-coverage") referenced is located within referencing coverage ("super-coverage"). The sub-coverage can be represented by referencing a coverage id or a URL pointing to a coverage. Such sub-coverages referenced may be grouped into a common multipart document, or reside remote, or mixed.</documentation>
        </annotation>
    </element>
    <complexType name="PartitionType">
        <sequence>
            <element ref="cis:envelope"/>
            <element name="coverage" type="string"/>
        </sequence>
    </complexType>
    <!-- ============================================================= -->
    <element name="metadata" type="cis:MetadataType">
        <annotation>
            <documentation>This is a hook for adding any further information to a coverage, such as domain-specific metadata. This element is identical to the GMLCOV metadata.</documentation>
        </annotation>
    </element>
    <complexType name="MetadataType">
        <complexContent>
            <extension base="gml:AbstractMetadataPropertyType">
                <sequence>
                    <element ref="cis:Extension" minOccurs="0"/>
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- =========================================================== -->
    <element name="Extension" type="cis:ExtensionType">
        <annotation>
            <documentation>Extension element used to hook in additional content e.g. in extensions or application profiles.</documentation>
        </annotation>
    </element>
    <complexType name="ExtensionType">
        <sequence>
            <any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
        </sequence>
    </complexType>
    <!-- ============================================================= -->
    <!-- ============================================================= -->
    <element name="interpolationRestriction" type="cis:InterpolationRestrictionType"/>
    <complexType name="InterpolationRestrictionType">
        <sequence>
            <element name="allowedInterpolation" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- ============================================================= -->
    <!-- Sensor Model Coverages                                        -->
    <!-- ============================================================= -->
    <element name="sensorModelCoverage" type="cis:SensorModelCoverageType" substitutionGroup="cis:GeneralGridCoverage">
        <annotation>
            <documentation>A coverage whose domain set is given by a grid defined through a SensorML 2.0 transformation model, represented by a transformationBySensorModelCoverage element.</documentation>
        </annotation>
    </element>
    <complexType name="SensorModelCoverageType">
        <complexContent>
            <extension base="cis:GeneralGridCoverageType"/>
        </complexContent>
    </complexType>

    <!-- ============================================================= -->
    <!-- GMLCOV 1.0 Grid Coverages                                     -->
    <!-- ============================================================= -->
    <element name="GridCoverage" type="cis:GridCoverageType" substitutionGroup="cis:GeneralGridCoverage">
        <annotation>
            <documentation>A GridCoverage is a coverage whose domain set is a gml:Grid describing some non-referenced grid (such as pure Cartesian coordinates). </documentation>
        </annotation>
    </element>
    <complexType name="GridCoverageType">
        <complexContent>
            <extension base="cis:GeneralGridCoverageType"/>
        </complexContent>
    </complexType>
    <!-- ============================================================= -->
    <element name="RectifiedGridCoverage" type="cis:RectifiedGridCoverageType" substitutionGroup="cis:GeneralGridCoverage">
        <annotation>
            <documentation>A RectifiedGridCoverage is a coverage whose dmoain set is given by a rectified grid. It is similar to the grid coverage except that the points of the grid are geometrically referenced. The rectified grid coverage has a domain that is a gml:RectifiedGrid geometry. </documentation>
        </annotation>
    </element>
    <complexType name="RectifiedGridCoverageType">
        <complexContent>
            <extension base="cis:GeneralGridCoverageType"/>
        </complexContent>
    </complexType>

    <!-- ============================================================= -->
    <!-- Discrete Coverages, as per GMLCOV 1.0                         -->
    <!-- ============================================================= -->
    <element name="AbstractDiscreteCoverage" type="cis:AbstractDiscreteCoverageType" abstract="true" substitutionGroup="cis:AbstractCoverage">
        <annotation>
            <documentation>AbstractDiscreteCoverage is an abstract umbrella type for all discrete coverage, i.e. Multi*Coverage, types.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractDiscreteCoverageType">
        <complexContent>
            <extension base="cis:AbstractCoverageType"/>
        </complexContent>
    </complexType>
    <!-- ============================================================= -->
    <!-- ============================================================= -->
    <element name="multiPointCoverage" type="cis:MultiPointCoverageType" substitutionGroup="cis:AbstractDiscreteCoverage">
        <annotation>
            <documentation>In a MultiPointCoverage the domain set consists of a collection of points, hence the domainSet type is cis:SimpleMultiPoint. This definition is identical to GMLCOV 1.0.</documentation>
        </annotation>
    </element>
    <complexType name="MultiPointCoverageType">
        <complexContent>
            <extension base="cis:AbstractDiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <!-- ============================================================= -->
    <element name="SimpleMultiPoint" type="cis:SimpleMultiPointType" substitutionGroup="gml:AbstractGeometricAggregate">
        <annotation>
            <documentation>SimpleMultiPoint implements, and provides a simplified encoding for, ISO 19107 GM_MultiPoint (see ISO 19107:2003, 6.5.4). A SimpleMultiPoint consists of a list of DirectPositions. </documentation>
        </annotation>
    </element>
    <complexType name="SimpleMultiPointType">
        <complexContent>
            <extension base="gml:AbstractGeometricAggregateType">
                <sequence>
                    <element name="positions" type="gml:DirectPositionListType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ============================================================= -->
    <!-- ============================================================= -->
    <element name="multiCurveCoverage" type="cis:MultiCurveCoverageType" substitutionGroup="cis:AbstractDiscreteCoverage">
        <annotation>
            <documentation>In a MultiCurveCoverage the domain consists of a collection of curves, hence the domainSet type is gml:MultiCurve.</documentation>
        </annotation>
    </element>
    <complexType name="MultiCurveCoverageType">
        <complexContent>
            <extension base="cis:AbstractDiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <!-- ============================================================= -->
    <element name="multiSurfaceCoverage" type="cis:MultiSurfaceCoverageType" substitutionGroup="cis:AbstractDiscreteCoverage">
        <annotation>
            <documentation>In a MultiSurfaceCoverage the domain consists of a collection of surfaces, hence the domainSet type is gml:MultiSurface.</documentation>
        </annotation>
    </element>
    <complexType name="MultiSurfaceCoverageType">
        <complexContent>
            <extension base="cis:AbstractDiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <!-- ============================================================= -->
    <element name="multiSolidCoverage" type="cis:MultiSolidCoverageType" substitutionGroup="cis:AbstractDiscreteCoverage">
        <annotation>
            <documentation>In a MultiSolidCoverage the domain consists of a collection of solids, hence the domainSet type is gml:MultiSolid.</documentation>
        </annotation>
    </element>
    <complexType name="MultiSolidCoverageType">
        <complexContent>
            <extension base="cis:AbstractDiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <!-- ============================================================= -->
</schema>

