19115/-2/gmi/1.1/dataQualityInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" 
	targetNamespace="http://standards.iso.org/iso/19115/-2/gmi/1.1"
	xmlns:gmi="http://standards.iso.org/iso/19115/-2/gmi/1.1"
	xmlns:mdq="http://standards.iso.org/iso/19157/-2/mdq/1.0"
	xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0" 
	xmlns:mdt="http://standards.iso.org/iso/19115/-3/mdt/1.0" 
	xmlns:gmw="http://standards.iso.org/iso/19115/-3/gmw/1.0" 
	xmlns:mcc="http://standards.iso.org/iso/19115/-3/mcc/1.0"
	xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/1.0"
	xmlns:mrc="http://standards.iso.org/iso/19115/-3/mrc/1.0"
	xmlns:mrs="http://standards.iso.org/iso/19115/-3/mrs/1.0"
	xmlns:mrd="http://standards.iso.org/iso/19115/-3/mrd/1.0"
	xmlns:mrl="http://standards.iso.org/iso/19115/-3/mrl/1.0"
	xmlns:gex="http://standards.iso.org/iso/19115/-3/gex/1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 04-04-2008 17:12:48 ====== Name: Lineage - Position: 2</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mcc/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/mcc/1.0/mcc.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/cit/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/cit/1.0/cit.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mdt/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/mdt/1.0/mdt.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrc/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/mrc/1.0/mrc.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrd/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/mrd/1.0/mrd.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrs/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/mrs/1.0/mrs.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrl/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/mrl/1.0/mrl.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gex/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/gex/1.0/gex.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gmw/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/gmw/1.0/gmw.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/gco/1.0/gco.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19157/-2/mdq/1.0" schemaLocation="https://schemas.isotc211.org/19157/-2/mdq/1.0/mdq.xsd"/>
	<xs:include schemaLocation="acquisitionInformation.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="LE_Algorithm_Type">
		<xs:annotation>
			<xs:documentation>Description: Details of the methodology by which geographic information was derived from the instrument readings - FGDC: Algorithm_Information - shortName: Algorithm</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="citation" type="cit:CI_Citation_PropertyType"/>
					<xs:element name="description" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LE_Algorithm" type="gmi:LE_Algorithm_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LE_Algorithm_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:LE_Algorithm" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="LE_Processing_Type">
		<xs:annotation>
			<xs:documentation>Description: Comprehensive information about the procedure(s), process(es) and algorithm(s) applied in the process step - shortName: Procsg</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="identifier" type="mcc:MD_Identifier_PropertyType"/>
					<xs:element name="softwareReference" type="cit:CI_Citation_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="procedureDescription" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="documentation" type="cit:CI_Citation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="runTimeParameters" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="algorithm" type="gmi:LE_Algorithm_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LE_Processing" type="gmi:LE_Processing_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LE_Processing_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:LE_Processing" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="LE_Source_Type">
		<xs:annotation>
			<xs:documentation>Description: information on source of data sets for processing step - shortName: SrcDataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="mrl:LI_Source_Type">
				<xs:sequence>
					<xs:element name="processedLevel" type="mcc:MD_Identifier_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resolution" type="gmi:LE_NominalResolution_PropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LE_Source" type="gmi:LE_Source_Type" substitutionGroup="mrl:LI_Source"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LE_Source_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:LE_Source" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="LE_ProcessStep_Type">
		<xs:annotation>
			<xs:documentation>Description: Information about an event or transformation in the life of the dataset including details of the algorithm and software used for processing - FGDC:  - shortName: DetailProcStep</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="mrl:LI_ProcessStep_Type">
				<xs:sequence>
					<xs:element name="processingInformation" type="gmi:LE_Processing_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="output" type="gmi:LE_Source_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="report" type="gmi:LE_ProcessStepReport_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LE_ProcessStep" type="gmi:LE_ProcessStep_Type" substitutionGroup="mrl:LI_ProcessStep"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LE_ProcessStep_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:LE_ProcessStep" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="LE_ProcessStepReport_Type">
		<xs:annotation>
			<xs:documentation>Description: Report of what occured during the process step - shortName: ProcStepRep</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="name" type="gco:CharacterString_PropertyType"/>
					<xs:element name="description" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="fileType" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LE_ProcessStepReport" type="gmi:LE_ProcessStepReport_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LE_ProcessStepReport_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:LE_ProcessStepReport" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="QE_CoverageResult_Type">
		<xs:annotation>
			<xs:documentation>Description: Result of a data quality measure organising the measured values as a coverage - shortName: CoverageResult</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="mdq:AbstractDQ_Result_Type">
				<xs:sequence>
					<xs:element name="spatialRepresentationType" type="mcc:MD_SpatialRepresentationTypeCode_PropertyType"/>
					<xs:element name="resultFile" type="mdt:MX_DataFile_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="resultSpatialRepresentation" type="mcc:Abstract_SpatialRepresentation_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="resultContentDescription" type="mrc:MD_CoverageDescription_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="resultFormat" type="mrd:MD_Format_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="QE_CoverageResult" type="gmi:QE_CoverageResult_Type" substitutionGroup="mdq:AbstractDQ_Result"/>
	<!-- ........................................................................ -->
	<xs:complexType name="QE_CoverageResult_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:QE_CoverageResult" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="QE_Usability_Type">
		<xs:annotation>
			<xs:documentation>Description: to: degree of adherence of a dataset to a specific set of user requirements - shortName: Usability</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="mdq:AbstractDQ_Element_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="QE_Usability" type="gmi:QE_Usability_Type" substitutionGroup="mdq:AbstractDQ_Element"/>
	<!-- ........................................................................ -->
	<xs:complexType name="QE_Usability_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:QE_Usability" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="LE_NominalResolution_Type">
		<xs:annotation>
			<xs:documentation>Description: Distance between adjacent pixels - shortName: nomRes</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="scanningResolution" type="gco:Distance_PropertyType"/>
			<xs:element name="groundResolution" type="gco:Distance_PropertyType"/>
		</xs:choice>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LE_NominalResolution" type="gmi:LE_NominalResolution_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LE_NominalResolution_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:LE_NominalResolution" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
